
{% if menu %}
    {{ menu|safe }}
{% endif %}


<pre>
    Для обработки ошибок импортируем метод по работе с этими исключениями, из Flask:
    <pre>
        from flask import abort
    </pre>
    Пример использования
    <pre>
        abort(404)
    </pre>
    Можно как обычно перенаправлять пользователя  при помощи метода redirect
    <pre>
        redirect(url_for('login'))
    </pre>
    Но метод abort возвращает ошибку с указанным номером, и автоматически редиректит
    клиента на стандартную страницу ошибок, которую если надо, то можно переопределить.

    Переопределение страницы ошибок, обычно мы используем метод декоратор @app.route("/errors")
    Если мы работаем со стр ошибок, то используем  @app.errorhandler(404)
    <pre>
        @app.errorhandler(404)
        def page_not_found(error):
            return render_template('page_not_found.html'), 404
    </pre>
</pre>


