<a href='/'>Главная</a><br>
<a href='/help'>Помощь</a><br>
<a href='/user/Sergey'>Страница пользователя</a><br>
<a href='/login'>Форма login</a><br>
<a href='/args?key=параметр_1'>Параметры URL запроса</a><br>
<a href='/document-upload'>Загрузка документа на сервер</a><br>
<a href='/errors'>Ошибки и перенаправления</a>
<ul>
    <a href="/errors/404"><li>error 1</li></a>
    <a href="/errors/403"><li>error 2</li></a>
    <a href="/errors/401"><li>error 3</li></a>
</ul><br>
<a href='/page1'>Страница 1</a><br>
<a href='/flash/sergio'>flash/sergio сообщения</a><br>
<a href='/flash/simple'>flash/simple сообщения</a><br>
<a href='/response'>Пример ответа</a><br>
