{% if menu %}
    {{ menu|safe }}
{% endif%}


<h4>Об ответах</h4>
<pre>
    Каждая функция что обернута @app.route('/url') функцией декоратором фласка
    возвращает ответ в виде обьекта http. Если возвращена строка то  она конвертируется в обьект
    ответа, где в виде тела ответа и будет эта строка, и статусом 200 OK а mimetype = text/html.
    1) Если из функции возвращается отвте корректного типа, то он возвращается сразу.
    2) Если это строка то статус и заголовки даются ему стандартно, а в тело идет сама строка.
    3) Если возвращается кортеж, то он должен соответствовать определенной форме
        котреж ( ответ, статус, заголовки )
    кортеж должен содержать хотябы один из этих эллементов.

    Но можно получить обьект ответа еще до возврата из функции, для этого используется функция
    make_response()
</pre>
